/*Colors */

$white: #fafafa;
$black: #1B0907;
$gray: #D8D8D8;


/* Brand colors */
$color-1: #F9CDD4;
$color-2: #F4AAB6;
$color-3: #E67D8D;

//COLORES PRIMARIOS
$color-pr1: #FEF1EC;
$color-pr2: #f1cad3;
$color-pr3: #caf1e6;
$color-pr4: #caf1f0;

//COLORES SECUNDARIOS
$color-sc1: #d6caf1; //botones de acción
$color-sc2: #9f6098; //botones de acción

//BORDER RADIOUS
$br-1: 30px;

//DROP SHADOW

//RESPONSIVE (puntos de quiebre)
$sm: "(max-with: 768px)"; //Celular tamaño pequeño
$md: "(max-with: 922px)"; //Tablet 
$lg: "(min-with: 1200px)"; //Escritorio

